.body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: medium;
  font-weight: 200;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
h1 {
  text-align: center;
  color: #333;
}
.burger-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
.burger-item {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 200px;
  cursor: pointer;
}
.burger-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.burger-details {
  background: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: left;
}

.burger-details h2 {
  color: #333;
  font-size: 1.5rem;
}

.burger-details p {
  color: #666;
}

.about-header {
  text-align: center;
  margin-bottom: 40px;
}

.about-header h1 {
  font-size: 3em;
  color: black;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-section a:hover {
  text-decoration: underline;
}

.home-page {
  text-align: center;
  padding: 2rem;
}



.carousel-title {
  color: #12010a;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.carousel-image {
  max-height: 100%;
  width: auto;
  object-fit: cover;
}

/* This is the navigation  */

.navbar {
  background-color: #333;
  padding: 1rem 0;
  margin-bottom: 5rem;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #d63384;
}

.divider-line {
  border: none;
  border-top: 1px solid black;
  margin: 20px 0;
}

.additional-images-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.additional-image-item {
  flex: 1;
}

.additional-image {
  max-width: 100%;
  height: auto;
}

.additional-image-text {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}
.additional-text-title {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

.additional-text-paragraph {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 20px;
}
.additional-text-title {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

.additional-text-paragraph {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-content p {
  flex: 1 1 300px;
  font-size: 1rem;
  line-height: 1.5;
  color: #ccc;
}

.body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: large;
  font-weight: 200;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.about-header {
  text-align: center;
  margin-bottom: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: large;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.about-header h1 {
  font-size: 1.5em;
  color: black;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.cupcake-history-image {
  max-width: 60%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

.about-paragraph {
  font-size: 1.2em;
  line-height: 2.6;
  text-align: center;
  max-width: 800px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: large;
  font-weight: 100;
}
.about-history {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.liberty-statue-image {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

.about-history-title {
  font-size: 1.2em;
  color: black;
  text-align: center;
  line-height: 2.6;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
}

.about-history-text {
  text-align: left;
  font-size: 1.2em;
  line-height: 2.6;
  text-align: center;
  max-width: 800px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: large;
  font-weight: 100;
}
.about-family {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.Family-image {
  height: auto;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}
.about-family-title {
  font-size: 1.2em;
  color: black;
  text-align: center;
  line-height: 2.6;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
}
.about-family-text {
  text-align: right;
  font-size: 1.2em;
  line-height: 2.6;
  text-align: center;
  max-width: 800px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: large;
  font-weight: 100;
}
.about-family-text-container {
  flex: 1;
}
.about-manwoman {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.about-manwoman {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.manwoman-image {
  height: auto;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}
.about-manwoman-title {
  font-size: 1.2em;
  color: black;
  text-align: center;
  line-height: 2.6;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
}
.about-manwomantext {
  text-align: right;
  font-size: 1.2em;
  line-height: 2.6;
  text-align: center;
  max-width: 800px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: large;
  font-weight: 100;
}
.about-bakery {
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Vertically aligns image and text */
  margin-top: 20px;
  gap: 20px; /* Spacing between image and text */
}

.bakery-image {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  position: absolute; 
  left: 0; 
}

.about-bakery-title {
  font-size: 1.2em;
  color: black;
  text-align: center;
  line-height: 2.6;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
}

.about-bakerytext {
  text-align: left; 
  font-size: 1.2em;
  line-height: 2.6;
  max-width: 800px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: large;
  font-weight: 100;
  position: absolute; 
  right: 0;
}
.navbar{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: large;
  font-weight: 100;
}
.menu-page{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: large;
  font-weight: 100;
}
.home-page {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
  font-size: large;
  font-weight: 100;
}